<!DOCTYPE html>

<html>
    <head>
        <title>About us</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>
                This site is created by Rohit Anand. It forecasts the weather of a searched location by using API calls from mapbox.com and darksky.net.
            </p>
            <img class = 'cover' src="/img/test.jpg">
        </div>
        {{>footer}}
    </body>
</html>